{% extends 'base.html' %}
{% block content %}

<h1>About Finch Collector</h1>
<p>Welcome to Finch Collector, your go-to platform for exploring information about various finch species. Whether you're a bird enthusiast or just curious about these colorful creatures, Finch Collector provides a comprehensive collection of details about different finches.</p>

<p>Our mission is to create awareness and appreciation for the diversity of finches found around the world. Explore the All Finches page to discover details about each species, including their names, colors, and sizes.</p>

{% endblock %}